*.mp4
*.o
*.d
*.bin
*.elf
*.hex
*.lst
*.map
.vscode
.metadata/
.settings/
Debug/
Release/
*.launch
*.cproject
*.project
*.mxproject
*.ioc
MDK-ARM\Bootloader/
MDK-ARM\DebugConfig/
*.uvguix.hamad
*.uvoptx
*.uvprojx
*..uvprojx